.categories {
    display: flex;
    width: 100%;
    max-width: 90vw;
    max-height: 25vw;
    overflow-x: auto;
    justify-self: flex-start;
    margin-bottom: 25px;
    li {
      display: flex;
      list-style-type: none;
      margin: 15px;
      margin-left: 3px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.191);
      background-color: hsl(0, 0%, 92%);
      border-radius: 15px;
      padding: 5px;
      padding-left: 11px;
      padding-right: 11px;
      justify-content: center;
      align-items: center;
      // padding: 11px;
      // padding-top: 7px;
      // padding-bottom: 7px;
      transition: 0.2s ease-in-out;
      &:hover{
        cursor: pointer;
      }
    
    }
    .active{
      background-color: rgb(72, 72, 72);
      color: #ffff
    }
  }