.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


.modal {
    background-color: white;
    width: 455px;
    height: 375px;
    border-radius: 15px;
    padding: 11px;
}

.closeButton {
    display: flex;
    border: 0;
    background-color: white;
    justify-self: flex-end;
    margin-right: 7px;
    margin-top: 7px;
    font-size: 19px;
    opacity: 0.5;
    transition: 0.2s ease-in-out;
    &:hover {
        cursor: pointer;
        opacity: 1;
    }
}

