.containerHome {
    position: relative;
    display: flex;
    margin: 11px;
    padding: 15px;
    .items{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      @media (max-width: 1373px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: 840px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 700px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }