.containerHome {
    position: relative;
    display: flex;
    // padding: px;
    // padding-top: 11px;
    justify-content: center;
    .items{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      justify-items: center;
      @media (max-width: 1325px) {
        grid-template-columns: repeat(4, 1fr);
      }
      @media (max-width: 1120px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: 775px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 510px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }