.header {
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    width: 97%;    
    justify-content: space-between;
    padding-left: 15px;
    .title {
      @media (max-width: 414px) {
        font-size: 23px;
      }
    }
    a {
      text-decoration: none;
      &:visited {
        color: inherit;
    }
    }
    .headerElem {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 7px;
      margin-top: 11px;
      @media (max-width: 414px) {
        margin-right: 11px;
      }
    }
    .cart {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 11px;
      background-color: rgb(98, 189, 98);
      width: auto;
      height: 35px;
      padding: 5px;
      transition: 0.1s ease-in-out;
      img {
        margin-right: 3px;
      }
      &:active {
        background-color: darken(rgb(98, 189, 98), 15%);
      }
    }
    .totalPrice {
      margin: 0;
      margin-bottom: 1px;
      // margin-left: px;
      margin-right: 3px;
      text-decoration: none;
    }
    .admin {
          width: 35px;
          height: 35px;
    }
    .favorite{
          width: 25px;
          height: 25px;
    }
  }
  