.search{
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-top: 15px;
  @media(max-width: 555px) {
    justify-content: center;
  }
}
.searchBlock {
  display: flex;
  width: 185px;
  position: relative;
}
.searchInput {
border-radius: 15px;
padding: 7px;
border-color: rgb(60, 65, 63);
}
.clearItemImg {
  position: absolute;
  right: 15px;
  top: 12px;
  opacity: 0.5;
  @media(max-width: 555px) {
    right: 37px;
    top: 12px
  } 
&:hover {
  cursor: pointer;
  opacity: 1;
}
}