.search{
    display: flex;
    justify-self: flex-end;
    position: relative;
    margin: 0;
    margin-right: 15px;
    width: 180px;
    @media (max-width: 414px) {
      justify-self: center;
      margin: 0;
    }
  }

.searchInput {
  border-radius: 15px;
  padding: 7px;
  border-color: rgb(60, 65, 63);
}
.clearItemImg {
  position: absolute;
  right: 9px;
  top: 11px;
  opacity: 0.5;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}
