.auhorization {
    width: 100%;
    height: 555px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.auhorizationBlock {
    border: 1px solid;
    border-color: rgb(221, 218, 215);
    width: 415px;
    height: 305px;

    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.191);
    border-radius: 19px;
}
.title {
    display: flex;
    justify-self: center;
    font-size: 21px;
}
.dataBlock {
    display: flex;
    flex-direction: column;
    margin: 55px 15px 5px 15px;
}

.inputLogin {
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 5px;
    border: 1px solid;
}

.inputPassword {
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 5px;
    border: 1px solid;
}

.inputRoom {
    border-radius: 15px;
    padding: 5px;
    border: 1px solid;
}
.signInBtn {
    display: flex;
    justify-self: center;
    margin-top: 17px;
    background-color:  rgb(98, 189, 98);
    color: rgb(48, 48, 48);
    border: 0;
    border-radius: 15px;
    padding: 5px;
    width: 139px;
    justify-content: center;
    align-items: center;
}

.registration {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin: 0;
}

.questions {
    margin: 0;
}

.linkToRegistr {
    color: rgb(85, 84, 84);
}
